<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Standard Post Format - Philosophy</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
	
    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
	
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<!-- ... -->
</head>

<body id="top">

    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">
		<header th:replace="index :: home">
        </header> <!-- header -->

    </div> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">

        <article class="row format-standard">

            <div class="s-content__header col-full">
            	<!-- 
            	<h1 sec:authorize="isAuthenticated()"  th:text="'id ='+${#authentication.getPrincipal().getUser().getId()}"></h1>
            	<h1 th:if="${article}" th:text="'article.title ='+${article.title}"></h1>
            	<th:block th:each="paragraph : ${article.paragraphs}">
            		<h1 th:if="${paragraph.text}" th:text="${paragraph.text}"></h1>
            	</th:block>
            	 -->

                <h1 class="s-content__header-title full-width" id="title" th:contenteditable="${article==null}" 
                	th:text="${article!=null?(article.title?:''):''}"  th:attr="data-placeholder = ${article==null or isAuthor==true?'Enter the artitle title here':null}" ></h1>
                <ul class="s-content__header-meta">
                    <li class="date"></li>

                </ul>
            </div> <!-- end s-content__header -->
				
            <div id="paragraphs" class="col-full s-content__main">
            <th:block th:if="${article}">
            <th:block th:each="paragraph : ${article.paragraphs}">
            	<div th:if="${paragraph.text}" class="paragraphDiv">
            		<p class="newParagraph" th:utext="${paragraph.text}" style="cursor: auto;"></p>
            		
            	</div>
            	<div th:if="${paragraph.image}" class="paragraphDiv">
            		<div>
            			<figure>
            				<img th:src="${new String(paragraph.image)}" class="paragraphImage">
            				<figcaption style="text-align: center;" th:if="${paragraph.imageCaption}" th:text="${paragraph.imageCaption}"></figcaption>
            			</figure>
            		</div>
            	</div>
            </th:block>
			</th:block>
            </div> <!-- end s-content__main -->
           
    		
            <th:block th:if="${new_post == true or isAuthor == true}">
            	<div  th:hidden="${isAuthor}">
    			<textarea id="paragraphTextArea" rows="4" style="height: 200px;" class="full-width" placeholder="add your Paragraph here"></textarea>
				<button id="addParagraph" class="btn btn-default full-width">Add Paragraph</button>
				<button id="addImageBtn" class="btn btn-default full-width">Add Image</button>
				<button id="sortable" class="btn btn-default full-width">Enable Sortable Paragraphs</button>
				<div class="row masonry-wrap">
				<div class="masonry">

				<div class="grid-sizer"></div>
				

					<article class="masonry__brick entry format-standard"
						data-aos="fade-up" >
						<div class="entry__thumb">
							<a class="entry__thumb-link"> <img id = "masonry_image"
								src="images/imagesPlaceholder.png"

								alt="">
								<h4 id = "masonry_image_placeholder">Click to add masonry Image</h4>
								<i class="newCloseIcon" title= "click to delete image" onclick="javascript: resetImage()"></i>
							</a>
						</div>

						<div class="entry__text">
							<div class="entry__header">

								<div class="entry__date">
									<a class="date" ></a>
								</div>
								<h1 class="entry__title">
									<a id = "masonry_title">This Is A Standard Format Post</a>
								</h1>

							</div>
							<div class="entry__excerpt">
								<p id = "masonry_excerpt" contenteditable="true" data-placeholder="insert your article excerpt here"></p>
							</div>
						</div>
					
					</article>
				</div>
			<!-- end masonry -->
			</div>
		    <!-- end masonry-wrap -->
			<button id="post" class="btn btn--primary full-width">Post</button>
			<input id="imageInput" type='file' accept="image/*" hidden="true" />
			</div>
			</th:block>
			<div th:if="${isAuthor}">
    		<button id="editArticle" class="btn btn-default full-width">Edit Article</button>
    		<button id="deleteArticle" class="btn btn-default full-width">Delete Article</button>
    		</div>
        </article>
        
 
		
    </section> <!-- s-content -->




    <!-- s-footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">
                
                <div class="col-two md-four mob-full s-footer__sitelinks">
                        
                    <h4>Quick Links</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Home</a></li>
                        <li><a href="#0">Blog</a></li>
                        <li><a href="#0">Styles</a></li>
                        <li><a href="#0">About</a></li>
                        <li><a href="#0">Contact</a></li>
                        <li><a href="#0">Privacy Policy</a></li>
                    </ul>

                </div> <!-- end s-footer__sitelinks -->

                <div class="col-two md-four mob-full s-footer__archives">
                        
                    <h4>Archives</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">January 2018</a></li>
                        <li><a href="#0">December 2017</a></li>
                        <li><a href="#0">November 2017</a></li>
                        <li><a href="#0">October 2017</a></li>
                        <li><a href="#0">September 2017</a></li>
                        <li><a href="#0">August 2017</a></li>
                    </ul>

                </div> <!-- end s-footer__archives -->

                <div class="col-two md-four mob-full s-footer__social">
                        
                    <h4>Social</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Facebook</a></li>
                        <li><a href="#0">Instagram</a></li>
                        <li><a href="#0">Twitter</a></li>
                        <li><a href="#0">Pinterest</a></li>
                        <li><a href="#0">Google+</a></li>
                        <li><a href="#0">LinkedIn</a></li>
                    </ul>

                </div> <!-- end s-footer__social -->

                <div class="col-five md-full end s-footer__subscribe">
                        
                    <h4>Our Newsletter</h4>

                    <p>Sit vel delectus amet officiis repudiandae est voluptatem. Tempora maxime provident nisi et fuga et enim exercitationem ipsam. Culpa consequatur occaecati.</p>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                
                            <input type="submit" name="subscribe" value="Send">
                
                            <label for="mc-email" class="subscribe-message"></label>
                
                        </form>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span>© Copyright Philosophy 2018</span> 
                        <span>Site Template by <a href="https://colorlib.com/">Colorlib</a></span>
                    </div>

                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                </div>
            </div>
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <script th:if="${new_post == true or isAuthor == true}" src="js/new-post.js"></script>
	<script th:if="${isAuthor == true}" th:inline="javascript">
		/*<![CDATA[*/

    	var article_id = /*[[${article.id}]]*/ 5;

		/*]]>*/
	</script>
    <script th:if="${isAuthor == true}" src="js/edit-post.js"></script>
	<script th:if="${new_post == true or isAuthor == true}" src = "js/jquery-ui.js"></script>

</body>

</html>